@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}

button:active {
  transform: translateY(1px);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.65;
}

.row {
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.container {
  padding: 40px 0;
  width: 100%;
}

.btn {
  background-color: #2bd97c;
  color: #032b41;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 180px;
}

.btn:hover:not(:disabled) {
  background-color: #20ba68;
}

.btn:active {
  transform: translateY(1px);
}

.home__cta--btn {
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* HOME */
.section__title {
  font-size: 32px;
  color: #032b41;
  text-align: center;
  margin-bottom: 32px;
  font-weight: bold;
}

/* MODAL */

.close {
  font-size: 40px;
  position: absolute;
  top: -6px;
  right: 3px;
  padding: 10px;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 35px 35px 0px;
  z-index: 1000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 400px;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-header {
  font-size: 20px;
  text-align: center;
  margin: 20px 0;
}

.guest-login {
  font-size: 16px;
  color: #fff;
  background-color: #3a579d;
  padding: 10px;
  border-radius: 5px;
}

.divider {
  text-align: center;
  padding: 15px;
  font-size: 14px;
}

.google-login {
  font-size: 16px;
  color: #fff;
  background-color: #4285f4;
  padding: 10px;
  border-radius: 5px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.login-input {
  padding: 10px;
  margin-bottom: 15px;
  border: solid 2px;
  border-radius: 5px;
  border-color: rgb(192, 192, 192);
}

.login-submit {
  padding: 10px;
  background-color: #2bd97c;
  border-radius: 5px;
}

.recovery {
  font-size: 14px;
  text-align: center;
  padding: 10px 0px 10px;
  color: #116be9;
}

.modal.open {
  display: block;
}

/* NAVBAR */
.nav {
  height: 80px;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1070px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.nav__list--wrapper {
  display: flex;
  gap: 24px;
}

.nav__img--mask {
  max-width: 200px;
}

.nav__img {
  width: 100%;
  height: 100%;
}

.nav__list {
  cursor: not-allowed;
  color: #032b41;
  transition: color 100ms;
}

.nav__list--login:hover {
  color: #2bd97c;
}

.nav__list--login {
  cursor: pointer;
}

/* LANDING */
.landing__wrapper {
  display: flex;
}

.landing__content {
  width: 100%;
}

.landing__image--mask {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.landing__image--mask img {
  width: 100%;
  height: 100%;
  max-width: 400px;
}

.landing__content__title {
  color: #032b41;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
}

.landing__content__subtitle {
  color: #394547;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 24px;
  line-height: 1.5;
}

/* FEATURES */
.features__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 96px;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.features__icon {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  color: #032b41;
}

.features__icon svg {
  width: 60px;
  height: 60px;
}

.features__title {
  font-size: 24px;
  color: #032b41;
  margin-bottom: 16px;
  font-weight: 500;
}

.features__sub--title {
  font-size: 18px;
  color: #394547;
  font-weight: 300;
}

.statistics__heading {
  font-size: 32px;
  font-weight: 500;
  color: #6b757b;
  margin-bottom: 16px;
}

.statistics__heading:last-child {
  margin-bottom: 0;
}

.statistics__heading--active {
  color: #2bd97c;
}

.statistics__wrapper {
  display: flex;
  gap: 80px;
  margin-bottom: 96px;
}

.statistics__wrapper:last-child {
  margin-bottom: 0;
}

.statistics__content--header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.statistics__content--header-second {
  align-items: flex-end;
}

.statistics__content--details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  background-color: #f1f6f4;
  padding: 40px 24px;
}

.statistics__data {
  display: flex;
  gap: 16px;
}

.statistics__data--number {
  color: #0365f2;
  font-size: 20px;
  font-weight: 600;
  margin-top: 4px;
}

.statistics__data--title {
  font-size: 20px;
  font-weight: 300;
  color: #394547;
}

/* REVIEWS */
.reviews__wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.review {
  background-color: #fff3d7;
  padding: 16px;
  margin-bottom: 32px;
  border-radius: 4px;
  font-weight: 300;
}

.review__header {
  color: #032b41;
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.review__body {
  color: #394547;
  letter-spacing: 0.3px;
  line-height: 1.4;
}

.review__stars {
  display: flex;
}

.review__stars svg {
  width: 16px;
  height: 16px;
  fill: #0564f1;
}

.reviews__btn--wrapper {
  display: flex;
  justify-content: center;
}

/* NUMBERS */
.numbers {
  background-color: #d7e9ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 24px;
  padding-bottom: 40px;
  border-radius: 12px;
}

.numbers__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.numbers__icon {
  display: flex;
  align-items: center;
  height: 60px;
  gap: 4px;
}

.numbers__icon svg {
  color: #0365f2;
  width: 48px;
  height: 48px;
}

.numbers__star--icon svg {
  width: 20px;
  height: 20px;
}

.numbers__title {
  font-size: 40px;
  color: #032b41;
  font-weight: 600;
  margin-bottom: 16px;
}

.numbers__sub--title {
  color: #394547;
  font-weight: 300;
}

#footer {
  background-color: rgb(241 246 244);
}

.footer__top--wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 32px auto 64px;
}

.footer__block {
  z-index: 1;
}

.footer__link--title {
  font-weight: 600;
  margin-bottom: 16px;
  font-size: 18px;
  color: #032b41;
}

.footer__social--link-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.footer__social--link {
  display: flex;
}

.footer__link--wrapper {
  margin-bottom: 12px;
  line-height: 1;
}

.footer__link {
  color: #394547;
  font-size: 14px;
  cursor: not-allowed;
}

.footer__link--wrapper:last-child {
  margin-bottom: 0;
}

.footer__social--text {
  margin-bottom: 4px;
}

.footer__social--text b {
  font-weight: 500;
}

.footer__review--wrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.footer__social--img-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer__social--img {
  display: flex;
}

.footer__copyright--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__copyright {
  color: #032b41;
  font-weight: 500;
}

@media (max-width: 768px) {
  .landing__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 540px;
    margin: 0 auto;
  }

  .landing__image--mask {
    display: none;
  }

  .landing__content__title {
    font-size: 24px;
  }

  .features__wrapper {
    grid-template-columns: 1fr;
  }

  .statistics__wrapper {
    flex-direction: column;
    gap: 32px;
    margin-bottom: 32px;
  }

  .statistics__heading {
    font-size: 24px;
  }

  .footer__top--wrapper {
    flex-direction: column;
    gap: 32px;
  }

  .numbers__wrapper {
    grid-template-columns: 1fr;
  }

  .statistics__content--details-second {
    order: 1;
  }

  .statistics__content--header-second {
    align-items: flex-start;
  }

  .statistics__data--title {
    font-size: 16px;
  }

  .section__title {
    font-size: 24px;
  }

  .features__title {
    font-size: 20px;
  }

  .features__sub--title {
    font-size: 14px;
  }

  .features__icon svg {
    width: 48px;
    height: 48px;
  }

  .review__body {
    font-size: 14px;
  }

  .numbers__wrapper {
    gap: 24px;
  }

  .numbers__title {
    font-size: 32px;
  }

  .numbers__sub--title {
    font-size: 14px;
  }

  .remove--tablet {
    display: none;
  }
}

@media (max-width: 576px) {
  .nav__list--mobile {
    display: none;
  }
}

/* Sidebar */

.sidebar {
  position: fixed;
  width: 200px;
  background-color: #f7faf9;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px 0px;
}

.sidebar-img {
  width: 180px;
  margin: 5px 10px 10px;
}

.sidebar-group {
  text-align: left;
}

.sidebar-top {
  width: 100%;
  padding: 10px 0px 10px 0px;
  flex: 1;
}

.sidebar-bottom {
  width: 100%;
  padding: 10px 0px 75px 0px;
}

.sidebar-list {
  display: flex;
  align-items: center;
  padding: 25px;
  font-size: 16px;
}

.sidebar-list:hover {
  background-color: rgb(211, 211, 211);
}

.sidebar-icon {
  margin-right: 15px;
}

/* FOR YOU */

.foryou-container {
  display: flex;
}

.search-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 80px;
  border-bottom: solid 1px rgb(204, 204, 204);
}

.search-input-container {
  display: flex;
  align-items: center;
  width: 340px;
  font-size: 14px;
  padding: 6px 10px 6px 16px;
  margin-right: 300px;
  border-radius: 8px;
  background-color: #f1f6f4;
  border: solid rgb(211, 211, 211);
}

.search-input {
  width: 100%;
  border: none;
  background-color: #f1f6f4;
  outline: none;
}

.foryou-wrapper {
  padding: 50px 150px 100px 400px;
}

/* SELECTED BOOK */

.selected-heading {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.selected-wrapper {
  display: flex;
  padding: 20px;
  background-color: #fbefd6;
  width: 600px;
}

.selected-book-subtitle {
  font-size: 16px;
  width: 250px;
  padding-right: 20px;
  border-right: solid 1px rgb(211, 211, 211);
}

.selected-img {
  margin: 0px 30px;
  width: 120px;
}

.selected-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.selected-author {
  font-size: 14px;
}

/* RECOMENDED & SUGGESTED BOOKS */

.recommended-heading {
  font-size: 22px;
  font-weight: bold;
  margin: 20px 0;
}

.recommended-subheading {
  font-weight: 300;
  margin-bottom: 20px;
}

.subscription-status {
  margin: 5px 0px 5px 100px;
  padding: 3px;
  font-size: 12px;
  color: white;
  background-color: black;
  text-align: center;
  border-radius: 20px;
}

.recommended-books-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 180px 0 0;
}

.recommended-img {
  width: 160px;
}

.book-details {
  flex: 1;
  width: 160px;
}

.recommended-title {
  font-weight: bold;
  margin: 10px 0;
}

.recommended-author {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 10px;
  color: #394547;
}

.recommended-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: #394547;
  margin-bottom: 5px;
}

.recommended-book-numerical-info {
  display: flex;
  align-items: center;
}

.rating {
  font-size: 14px;
  color: #394547;
}

.rating svg {
  vertical-align: middle;
  margin-top: -3px;
  margin-right: 5px;
}

.book-card {
  padding: 10px;
  cursor: pointer;
}

.book-card:hover {
  background-color: #f1f6f4;
}

/* ACTIVE BOOK */

.book-container {
  display: flex;
  justify-content: space-between;
  padding: 50px 150px 100px 400px;
}

.book-title {
  font-size: 32px;
  font-weight: bold;
}

.book-author {
  font-size: 16px;
  font-weight: bold;
  margin: 12px 0;
}

.book-subtitle {
  font-size: 20px;
  font-weight: 300;
}

.active-book-img {
  width: 300px;
  margin-left: 20px;
}

.book-features {
  display: flex;
  margin: 20px 0;
  border-top: solid 2px #f1f6f4;
  border-bottom: solid 2px #f1f6f4;
  padding: 20px 0;
}

.book-features p {
  font-size: 14px;
  font-weight: 500;
}

.feature {
  margin-right: 60px;
}

.feature-break {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.book-buttons {
  display: flex;
  margin: 10px 0;
}

.book-button-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-to-inner {
  display: flex;
  align-items: center;
}

.active-book-button {
  font-size: 16px;
  color: white;
  background-color: #032b41;
  padding: 15px 0px;
  width: 150px;
  border-radius: 5px;
  margin-right: 20px;
}

.feature-icon {
  margin-right: 6px;
}

.add-to-library {
  color: #0365f2;
  margin: 30px 0;
}

.tags-header {
  margin-bottom: 20px;
  font-weight: bold;
}

.tags-container {
  display: flex;
  margin-bottom: 20px;
}

.book-tag {
  font-size: 14px;
  font-weight: 500;
  background-color: #f1f6f4;
  padding: 10px;
  margin-right: 20px;
  border-radius: 5px;
}

.author-header {
  font-weight: bold;
  margin: 20px 0;
}

/* PLAYER */

.player-book-container {
  margin: 20px 200px 0 500px;
  
}

.player-book-header {
  font-size: 24px;
  font-weight: bold;
  width: 800px;
  border-bottom: solid 2px #f1f6f4;
  padding-bottom: 20px;
}

.player-book-summary {
  margin: 30px 0 200px;
}

.player-book-info {
  display: flex;
}

.player-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio-player {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #042330;
}

.inner {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.player-book-display {
  display: flex;
  margin-left: 50px;
}

.player-img {
  width: 50px;
  margin-right: 10px;
}

.player-book-info {
font-size: 14px;
margin-bottom: 5px;
}

.player-book-info-author {
  font-size: 14px;
  font-weight: 300;
}

.controls {
  color: #fff;
  display: flex;
}

.controls button {
  margin: 8px;
}

.progress {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 400px;
  padding-right: 50px;
}

/* time */
.time {
  color: #ffffff;
  font-size: 13px;
  line-height: 46px;
}

/* PROGRESS BAR */

.time.current {
  color: rgb(255, 255, 255);
}

input[type="range"] {
  --range-progress: 0;
  
  -webkit-appearance: none;
  position: relative;
  background:#9e9e9e;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  cursor: pointer;
}

/* Input range - firefox */
input[type="range"]::-moz-range-track {
  position: relative;
  background:#8b8b8b;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  cursor: pointer;
}

/* played progress length - Chrome & safari*/
input[type="range"]::before {
  content: '';
  height: 2px;
  background: rgb(255, 255, 255);
  width: var(--range-progress);
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
}

/* played progress length - firefox */
input[type="range"]::-moz-range-progress {
  background: rgb(255, 255, 255);
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  height: 2px;
}

/* slider thumb - chrome and safari */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: none;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  position: relative;
}

/* dragging thumb - chrome and safari */
input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.2);
}

/* slider thumb - firefox */
input[type="range"]::-moz-range-thumb {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  cursor: pointer;
  border: transparent;
  position: relative;
}
/* dragging thumb - firefox */
input[type="range"]:active::-moz-range-thumb {
  transform: scale(1.2);
}